
.totalLikes{
  color: transparent;
}

.l-card{
  display: flex;
  flex-direction: column;
  text-overflow:ellipsis;
}
.cuadro-formulario{
  border-color: black;
}
.t-select{
  height:37.5px ;
  margin-bottom: 10px;
}
.gm-select{
  height:37.5px ;
}
#agregar{
  color: white;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.a-list{
  border:1rem;
  border: 0;
	border-radius: 0.9rem;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
  gap: 2rem;
  margin: 1rem;
  border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  text-align: center;
}
.a-list:hover{
  background: #B1E8CD;
}

.select-list{
  appearance:none;
} 
/*Da dormato a la imagen del formulario de subida como de la tarjeta*/
.a-img{
  width: 150px;
  height: 150px;
  }
  @media (max-width: 1024px){
    .t-select{
      width: 948px;
    }
    .gm-select{
      width: 948px;
    }
  } 
  @media (max-width: 768px){
    .t-select{
      width: 692px;
    }
    .gm-select{
      width: 692px;
    }
  } 
  @media (max-width: 425px){
  .t-select{
    width: 349px;
  }
  .gm-select{
    width: 349px;
  }
} 
  @media (max-width: 375px){
    .t-select{
      width: 299px;
    }
    .gm-select{
      width: 299px;
    }
  }
@media (max-width: 320px){
 .l-act{
    text-align: center;
  }
 .filtro{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 2rem;
  width: fit-content;
}
#buscar{
  display: block;
  text-align: center;
}
.t-h1{
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.t-select{
  width: 276px;
}
.gm-select{
  width: 276px;
}
.a-card{
  height:35rem;
  border: 0.5rem;
  border-color: black;
}
.b-favorite .b-eliminar{
  text-align: center;
}
.b-favorite{
  overflow: left;
}
.b-eliminar{
  overflow: right;
}
#description #name{
  overflow: scroll;
}


}

 

  

