
h1.titulo-principal {
    padding: 2rem;
}

.eslogan {
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    color: #000;
    text-justify: inherit;
    line-height: 1.5; 
    position: relative;
    margin-bottom: 15px;
}


.gratuito {
    font-size: 2em;
    font-weight: bold;
    color: #FFD700;
    text-align: center;
    margin: 0;
    padding: 10px;
    /*background-color: #000; quito el color de fondo porque no quiero que tenga el mismo formato que los botones*/
    border-radius: 10px;
   /* transition: background-color 0.3s, color 0.3s;*/

    /* Centrado vertical y horizontal */
   
}

/*.gratuito:hover {
    background-color: #FFD700;
    color: #000;
} La palabra gratuito no es un botón por lo que no quiero que tenga el mismo formato que los botones*/

/*Imágenes correspondientes a las tres etiquetas:*/
#label-cuando {
    background-image: url(../imageneshomepublic/cuandoquieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: right;
    width: auto;
    height: auto;
    
}
 

#label-donde {
    background-image: url(../imageneshomepublic/dondequieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: center;
    width: auto;
    height: auto;
}

#label-como {
    background-image: url(../imageneshomepublic/comoquieras.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    /*es para mantener la imagen fija dentro del fieldset*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    text-align: left;
    width: auto;
    height: 185px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
}

span {
    display: block;
}

/*formato del texto de las tres etiquetas:*/
.text-white {
    color: wheat;
}



.text-white-outliner {
    -webkit-text-stroke: 1px yellow;
    /*esta propiedad es para poder poner de color el borde de la letra*/
}




p {
    align-content: center;
}
.logo-img{
    width: 1rem;
    height: 1rem;
}

.home-public-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta según tus necesidades */
  }
  
  .home-public-blocks fieldset {
    flex: 1 1 30%; /* Ajusta según tus necesidades */
    max-width: calc(33.3333% - 20px);
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    .home-public-blocks fieldset {
      flex: 1 1 45%; /* Ajusta según tus necesidades para dispositivos más pequeños */
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .home-public-blocks fieldset {
      flex: 1 1 100%; /* Ajusta según tus necesidades para dispositivos aún más pequeños */
      max-width: calc(100% - 20px);
    }
  }
  


