
.Filtro{
  display: flex;
  flex-direction: row; /*pone todos los campos del formularios en una misma línea*/
  margin-left: 20px; /*separa el form del filtro del margen izquierdo*/
  gap: 1rem; /*da espacio entre cada uno de los campos del form*/
  text-align: left; /*alinea el texto de cada campo a la izquierda*/
  align-items: center;
  margin-top: 1rem; /*separa el buscador del header*/
}

#buscar{
  background-color: black;
  color: white;
}
ul.ul-listaactividades{
  display:grid;
  grid-template-columns: repeat(2, efr);
}
.totalLikes{
  color: transparent;
}
label.l-imagen{
  display: flex;
  flex-direction: column;
}

.l-card{
  display: flex;
  flex-direction: column;
  text-overflow:ellipsis;
}
.cuadro-formulario{
  border-color: black;
}
.t-select{
  height:37.5px ;
  margin-bottom: 10px;
  padding:0.5em;
}
.gm-select{
  height:37.5px ;
  padding:0.5em;
}
#agregar{
  color: white;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.a-list{
  border:1rem;
  border: 0;
	border-radius: 0.9rem;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
  gap: 2rem;
  margin: 1rem;
  border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  text-align: center;
}
.a-list:hover{
  background: rgb(236, 230, 63), 249, 115);
}

.select-list{
  appearance:none;
} 
/*Da dormato a la imagen del formulario de subida como de la tarjeta*/
.a-img{
  width: 150px;
  height: 150px;
  }
  @media (max-width: 1024px){
    .t-select{
      width: 948px;
    }
    .gm-select{
      width: 948px;
    }
  } 
  @media (max-width: 768px){
    .t-select{
      width: 692px;
    }
    .gm-select{
      width: 692px;
    }
    .a-img{
      width: 400px;
      height: 400px;
      }
  } 
  @media (max-width: 425px){
    .Filtro{
      display: flex;
      flex-direction: column; /*pone todos los campos del formularios en columna*/
      margin-left: none; /*separa el form del filtro del margen izquierdo*/
      gap: 1rem; /*da espacio entre cada uno de los campos del form*/
      text-align: left; /*alinea el texto de cada campo a la izquierda*/
      align-items: center;
      margin-top: 1rem; /*separa el buscador del header*/
    }
  .t-select{
    width: 349px;
  }
  .gm-select{
    width: 349px;
  }
  .a-img{
    width: 370px;
    height: 370px;
    }
} 
  @media (max-width: 375px){
    .t-select{
      width: 299px;
    }
    .gm-select{
      width: 299px;
    }
    .a-img{
      width: 300px;
      height: 300px;
      }
  }
@media (max-width: 320px){
 .l-act{
    text-align: center;
  }
 .filtro{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  gap: 1rem;
}

.t-h1{
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.t-select{
  width: 276px;
}
.gm-select{
  width: 276px;
}
.a-card{
  height:35rem;
  border: 0.5rem;
  border-color: black;
}
.a-img{
  width: 250px;
  height: 250px;
  }
.b-favorite .b-eliminar{
  text-align: center;
}
.b-favorite{
  overflow: left;
}
.b-eliminar{
  overflow: right;
}
#description #name{
  overflow: scroll;
}

.name{
  text-align:left ;
}
.description{
  text-align: left;
}
p.musculargroup{
  text-align: left;
}

p.typology{
  text-align: left;
}

}

 

  

